*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 100%;
    width: 100%;
    background-color: #2d2d2d;
    color: white;
    overflow: hidden;
    font-size: large;
}

header{
    height: 8vh;
    width: 100%;
    background:#2d2d2d;
    text-align: right;
    box-shadow: 0px 4px 10px #ddd7d7;
}

.main1{
    height: 84vh;
    width: 100%;
    background: gray;
}

section{
    font-size: 150%;
    margin-top: 10%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}

#codeJs{
    margin-top: 10%;
border-radius: 5%;
}
#codeHtml{
    margin-top: 10%;
    border-radius: 5%;
    }

#run{
    color:white;
    background-color: rgb(72, 7, 105);
    margin-top: 1.1%;
    margin-right: 2%;
}

/*//////////// ids \\\\\\\\\\\\\\\\\*/

#page2{
    display: none;
}